<section class="header-section">
  <section class="intro-section">
    <img class="naomi-img" src="assets/naomi.jpeg"/>
    <div class="intro-text">
      <p class="text-sm">Hello, I'm</p>
      <h1 class="text-lg">Naomi Lima</h1>
      <p class="text-sm">Feel free to connect with me! :)</p>
    </div>
  </section>

  <section class="description">
    <p>I'm a developer based in Miami, FL., passionate about developing websites with great user experience and aesthetic design. <img src="assets/sparkle.svg" class="inline-block w-3"></p>
  </section>

</section>

